{% extends "layouts/default.html" %}
{% block title %}Search Results | Colidocs{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" media="screen" href="/styles/search.css">
{% endblock %}
{% block body %}
    <div class="banner" id="banner">
        <div class="specify">
          <h2>404 - Page not found</h2>
          <p class="search-results-summary"><strong>We are sorry, but we didn't find this page.</strong></p>
        </div>
    </div>

{% include "partials/footer.html" %}
{% endblock %}
