{% extends "layouts/default.html" %}
{% block title %}{{ project-name }} | Colidocs{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" media="screen" href="/styles/api.css">
{% endblock %}
{% block body %}
<nav class="left-panel">
    <a href="/{{ project-name | urlencode }}/"><div class="item" title="Show project homepage">
        <div class="parent"><img src="/images/icons/house2.png" alt="house"></div><span>Homepage</span>
    </div></a>
    <a href="/{{ project-name | urlencode }}/api"><div class="item" title="Show API Reference">
        <div class="parent"><img src="/images/icons/api.png" alt="api"></div><span>API Reference</span>
    </div></a>
</nav>


<div class="dock">

    <h1>API Reference</h1>

    <div class="collumn">
        <div class="tile">
            <h2>Informations</h2>
            <p>Curently inspected project</p>
            <a class="link" href="/{{ project-name | urlencode }}/"><h1>{{ project-name }}</h1></a>
            <p>Number of systems</p>
            <h1>{{ systems | length }}</h1>
        </div><div class="tile">
            <h2>API browser</h2>
            <label>
                Select package<br>
                <select id="select" onchange="showSelected(this.selectedOptions[0].parentElement.getAttribute('label'), this.selectedOptions[0].innerHTML)">
                    {% for system in systems %}
                    <optgroup label="{{ system.name }}">
                        {% for package in system.packages %}
                        <option value="{{ system.name }}.{{ package.name }}">{{ package.name }}</option>
                        {% endfor %}
                    </optgroup>
                    {% endfor %}
                </select>
            </label>
        </div><div class="tile">
            <h2>Filter</h2>
            <label>
                Search symbol<br>
                <input type="text" class="search" oninput="searchSymbol(this.value)">
            </label>
        </div><div class="tile">
            <h2>Details</h2>
            <p>Selected system</p>
            <h1 class="highlight" id="current-system">Unknown</h1>
            <p>System description</p>
            <h4 id="system-description">Unknown</h4>
            <p>Selected package</p>
            <h1 class="highlight" id="current-package">Unknown</h1>
            <p id="package-description-title">Package description</p>
            <h4 id="package-description">Unknown</h4>
        </div>
    </div><div class="content-collumn">
        <div class="shade"></div>
        <div class="tile" style="margin-bottom: 0">
            {% for system in systems %}
            <article>
                <div class="system" id="system-{{ system.name }}">
                    <div id="system-{{ system.name }}-description" style="display: none">{{ system.description }}</div>
                    <div class="api">
                    {% for package in system.packages %}
                      <div id="package-{{ package.name }}-description" style="display: none">{{ package.docstring }}</div>
                      <section class="package" id="package-{{ package.name }}">
                        {% if package.external-symbols %}
                        <h2>Symbols in package <span class="highlight">{{ package.name }}</span></h2>
                        <table>
                          {% for symbol in package.external-symbols %}
                          <tr class="symbol">
                            <td class="type-column"><span class="symbol-type label {{ symbol.type }}">{{ symbol.type | capfirst }}</span></td>
                              <td class="symbol-name-td"><a class="link" href="/{{ project-name }}/api/{{ system.name }}/{{ package.name }}/{{ symbol.name | urlencode }}">{% if symbol.setfp %}(setf {{ symbol.name }}){% else %}{{ symbol.name }}{% endif %}</a></td>
                            <td class="docstring nowrap">{{ symbol.docstring }}</td>
                          </tr>
                          {% endfor %}
                        </table>
                        {% else %}
                        <h2>No exported symbols.</h2>
                        {% endif %}
                        {% if package.reexport-symbols %}
                        <h3>Also exports</h3>
                        <ul class="also-exports">
                        {% for symbol in package.reexport-symbols %}
                          <li><code class="symbol-name">{{ symbol | symbol-with-package }}</code></li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                      </section>
                    {% endfor %}
                    {% if not system.packages %}
                      <div class="nothing">No packages.</div>
                    {% endif %}
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
