{% extends "layouts/default.html" %}
{% block title %}{{ project-name }} | Colidocs{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" media="screen" href="/styles/api.css">
{% endblock %}
{% block body %}
<nav class="left-panel">
    <a href="/{{ project-name | urlencode }}/"><div class="item" title="Show project homepage">
        <div class="parent"><img src="/images/icons/house2.png"></div><span>Homepage</span>
    </div></a>
    <a href="/{{ project-name | urlencode }}/api"><div class="item" title="Show API Reference">
        <div class="parent"><img src="/images/icons/api.png"></div><span>API Reference</span>
    </div></a>
</nav>


<div class="dock">

    <h1>API Reference</h1>

    <div class="collumn">
        <div class="tile">
            <h2>Informations</h2>
            <p>Curently inspected project</p>
            <a class="link" href="/{{ project-name | urlencode }}/"><h1>{{ project-name }}</h1></a>
            <p>Number of systems</p>
            <h1>{{ systems | length }}</h1>
        </div><div class="tile">
            <h2>API browser</h2>
            <label>
                Select package<br>
                <select id="select" oninput="showSelected(this.selectedOptions[0].parentElement.getAttribute('label'), this.selectedOptions[0].innerHTML)">
                    {% for system in systems %}
                    <optgroup label="{{ system.name }}">
                        {% for package in system.packages %}
                        <option value="{{ system.name }}.{{ package.name }}">{{ package.name }}</option>
                        {% endfor %}
                    </optgroup>
                    {% endfor %}
                </select>
            </label>
        </div><div class="tile">
            <h2>Filter</h2>
            <label>
                Search symbol<br>
                <input type="text" class="search" oninput="searchSymbol(this.value)">
            </label>
        </div><div class="tile">
            <h2>Details</h2>
            <p>Selected system</p>
            <h1 class="highlight" id="current-system">1am</h1>
            <p>System description</p>
            <h4 id="system-description">Unknown</h4>
            <p>Selected package</p>
            <h1 class="highlight" id="current-package">1AM</h1>
            <p id="package-description-title">Package description</p>
            <h4 id="package-description">Unknown</h4>
        </div>
    </div><div class="content-collumn">
        <div class="tile" style="margin-bottom: 0">
            {% for system in systems %}
            <article>
                <div class="system" id="system-{{ system.name }}">
                    <div id="system-{{ system.name }}-description" style="display: none">{{ system.description }}</div>
                    <!--header>
                    <div class="bookmark" id="system-{{ system.name }}"></div>
                    <h3>System</h3>
                    <h1><a class="link" href="api/{{ system.name }}">{{ system.name }}</a></h1>
                    {% if system.description %}
                    <p class="description">{{ system.description }}</p>
                    {% endif %}
                    </header-->

                    <div class="api">
                    {% for package in system.packages %}
                        <div id="package-{{ package.name }}-description" style="display: none">{{ package.docstring }}</div>
                      <section class="package" id="package-{{ package.name }}">
                        <!--div class="bookmark" id="package-{{ package.name }}"></div>
                        <h3>Package</h3>
                        <h1><a class="link" href="#package-{{ package.name }}">{{ package.name }}</a></h1>
                        {% if package.docstring %}
                        <div class="docstring"><pre>{{ package.docstring }}</pre></div>
                        {% endif %}-->
                        {% if package.external-symbols %}
                        <h2>Symbols in package <span class="highlight">{{ package.name }}</span></h2>
                        <table>
                          {% for symbol in package.external-symbols %}
                          <tr class="symbol">
                            <td class="type-column"><span class="symbol-type label {{ symbol.type }}">{{ symbol.type | capfirst }}</span></td>
                              <td class="symbol-name-td"><a class="link" href="/{{ project-name }}/api/{{ system.name }}/{{ package.name }}/{{ symbol.name | urlencode }}">{% if symbol.setfp %}(setf {{ symbol.name }}){% else %}{{ symbol.name }}{% endif %}</a></td>
                            <td class="docstring nowrap">{{ symbol.docstring }}</td>
                          </tr>
                          {% endfor %}
                        </table>
                        {% else %}
                        <h2>No exported symbols.</h2>
                        {% endif %}
                        {% if package.reexport-symbols %}
                        <h3>Also exports</h3>
                        <ul class="also-exports">
                        {% for symbol in package.reexport-symbols %}
                          <li><code class="symbol-name">{{ symbol | symbol-with-package }}</code></li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                      </section>
                    {% endfor %}
                    {% if not system.packages %}
                      <div class="nothing">No packages.</div>
                    {% endif %}
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>

<!--
{% for system in systems %}
<article>
    <div class="specify">
        <div class="system">
            <nav class="toc">
                <div class="sticky">
                    <h3>Package Index</h3>
                    <div class="toc-packages">
                    {% for package in system.packages %}
                      <div><a class="link" href="#package-{{ package.name }}" title="{{ package.name }}">{{ package.name }}</a></div>
                    {% endfor %}
                    </div>
                </div>
            </nav>

            <header>
            <div class="bookmark" id="system-{{ system.name }}"></div>
            <h3>System</h3>
            <h1><a class="link" href="api/{{ system.name }}">{{ system.name }}</a></h1>
            {% if system.description %}
            <p class="description">{{ system.description }}</p>
            {% endif %}
            </header>

            <div class="api">
            {% for package in system.packages %}
              <section class="package">
                <div class="bookmark" id="package-{{ package.name }}"></div>
                <h3>Package</h3>
                <h1><a class="link" href="#package-{{ package.name }}">{{ package.name }}</a></h1>
                {% if package.docstring %}
                <div class="docstring"><pre>{{ package.docstring }}</pre></div>
                {% endif %}
                {% if package.external-symbols %}
                <h3>Symbols in package</h3>
                <ul>
                  {% for symbol in package.external-symbols %}
                  <li class="symbol">
                    <div><span class="symbol-type label {{ symbol.type }}">{{ symbol.type | capfirst }}</span></div>
                    <div class="parent">
                        <code class="symbol-name"><a class="link" href="/{{ project-name }}/api/{{ system.name }}/{{ package.name }}/{{ symbol.name }}">{% if symbol.setfp %}(setf {{ symbol.name }}){% else %}{{ symbol.name }}{% endif %}</a></code>
                        {% if symbol.lambda-list %}
                        <span class="lambda-list">
                          {{ symbol.lambda-list | lambda-list | safe }}
                        </span>
                        {% endif %}
                        {% if symbol.superclasses %}
                        &nbsp;<code>(</code>{% for superclass in symbol.superclasses %}<code class="symbol-name">{{ superclass | symbol }}</code>{% if not forloop.last %}<code>,</code> {% endif %}{% endfor %}<code>)</code>
                        {% endif %}
                        {% if symbol.include-structs %}
                            includes <code>(</code>{% for include in symbol.include-structs %}<code class="symbol-name">{{ include | symbol }}</code>{% if not forloop.last %}<code>,</code> {% endif %}{% endfor %}<code>)</code>
                        {% endif %}
                        {% if symbol.initial-value %}
                        <pre class="initial-value">{{ symbol.initial-value | lower }}</pre>
                        {% endif %}
                        {% if symbol.docstring %}
                        <div class="docstring">{{ symbol.docstring }}</div>
                        {% endif %}
                        {% if symbol.type == "class" or symbol.type == "struct" %}
                        {% if symbol.slots %}
                        <table class="slot-list">
                        {% for slot in symbol.slots %}
                            <tr>
                                <td><code class="symbol-name">{{ slot.name | symbol }}</code></td>
                                {% if slot.accessors %}
                                <td><span class="label">Accessor:</span></td>
                                <td>
                                {% for accessor in slot.accessors %}
                                <code class="symbol-name">{{ accessor | symbol }}</code>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                {% endif %}

                                {% if slot.readers %}
                                <td><span class="label">Reader:</span></td>
                                <td>
                                {% for reader in slot.readers %}
                                <code class="symbol-name">{{ reader | symbol }}</code>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                {% endif %}

                                {% if slot.writers %}
                                <td><span class="label">Writer:</span></td>
                                <td>
                                {% for writer in slot.writers %}
                                <code class="symbol-name">{{ writer | symbol }}</code>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </table>
                        {% else %}
                        <div class="nothing">No slots.</div>
                        {% endif %}
                        {% endif %}
                    </div>
                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <div class="nothing">No exported symbols.</div>
                {% endif %}
                {% if package.reexport-symbols %}
                <h3>Also exports</h3>
                <ul class="also-exports">
                {% for symbol in package.reexport-symbols %}
                  <li><code class="symbol-name">{{ symbol | symbol-with-package }}</code></li>
                {% endfor %}
                </ul>
                {% endif %}
              </section>
            {% endfor %}
            {% if not system.packages %}
              <div class="nothing">No packages.</div>
            {% endif %}
            </div>
        </div>
    </div>
</article>
{% endfor %}-->
</div>

<!--{% include "partials/footer.html" %}

<ul class="breadcrumb-header-container" style="display: none">
  <li><a href="#global-header" class="top-link lsf">home</a></li>
</ul>
<div class="pager-link-container" style="display: none">
  <a class="pager-link lsf-icon" title="up">Prev</a>
  <a class="pager-link lsf-icon" title="down">Next</a>
</div>
-->
<script>
    let symbols = document.getElementsByClassName('symbol');

    function searchSymbol(filter) {
        for (let i = 0; i < symbols.length; i++) {
            let name = symbols[i].childNodes[3].childNodes[0].innerHTML;
            if (name.toUpperCase().indexOf(filter.toUpperCase()) > -1) {
              symbols[i].style.display = '';
            } else {
              symbols[i].style.display = 'none';
            }
        }
    }

    function toggleAttribute(attribute, value) {
        let items = window.location.search.substring(1).split('&');
        console.log(items);
        let url = window.location.pathname;

        let toggled = false;
        let mark = false; // question mark present?

        for (let i = 0; i < items.length; i++) {
            let s = items[i].split('=');
            if (s.length === 2) {
                if (s[1] !== value || s[0] !== attribute) {
                    if (!mark) {
                        url += '?';
                        mark = true;
                    } else {
                        url += '&';
                    }
                    url += s[0] + '=' + s[1];
                } else {
                    toggled = true;
                }
            }
        }

        if (!toggled) {
            if (!mark) {
                url += '?';
            } else {
                url += '&';
            }
            url += attribute + '=' + value;
        }

        window.history.replaceState(null, null, url);
    }

    let lastSystem;
    let lastPackage;

    function hideAll(className) {
        let items = document.getElementsByClassName(className);

        for (let i = 0; i < items.length; i++) {
            items[i].style.display = 'none'
        }
    }
    
    function showSelected(systemName, packageName) {
        hideAll('system');
        hideAll('package');
        document.getElementById('current-system').innerHTML = systemName;
        document.getElementById('current-package').innerHTML = packageName;
        document.getElementById('system-description').innerHTML = document.getElementById('system-'+systemName+'-description').innerText;
        document.getElementById('package-description').innerHTML = document.getElementById('package-'+packageName+'-description').innerText;
        document.getElementById('system-'+systemName).style.display = '';
        document.getElementById('package-'+packageName).style.display = '';

        if (document.getElementById('package-description').innerHTML === '') {
            document.getElementById('package-description').style.display = 'none';
            document.getElementById('package-description-title').style.display = 'none';
        } else {
            document.getElementById('package-description').style.display = '';
            document.getElementById('package-description-title').style.display = '';
        }
        if (lastSystem) toggleAttribute('system', lastSystem);
        if (lastPackage) toggleAttribute('package', lastPackage);
        toggleAttribute('system', systemName);
        toggleAttribute('package', packageName);

        lastSystem = systemName;
        lastPackage = packageName;
    }

    function parseAttributes() {
        let items = window.location.search.substring(1).split('&');

        let systemName;
        let packageName;

        for (let i = 0; i < items.length; i++) {
            let s = items[i].split('=');
            if (s.length === 2 && s[0] === 'find') {
                searchSymbol(s[1]);
            }
            if (s.length === 2 && s[0] === 'system') {
                systemName = s[1];
                lastSystem = s[1];
            }
            if (s.length === 2 && s[0] === 'package') {
                packageName = s[1];
                lastPackage = s[1];
            }
        }

        if (systemName && packageName) {
            showSelected(systemName, packageName);
            document.getElementById('select').value = systemName + '.' + packageName;
        } else {
            document.getElementById('select').oninput(undefined);
        }

        //let re = new RegExp('&'+categories+'(?:=([^&]*))?(?=&|$)','i');
        //return (s=s.replace(/^?/,'&').match(re)) ? (typeof s[1] == 'undefined' ? '' : decodeURIComponent(s[1])) : undefined;
    }

    parseAttributes();

</script>

{% endblock %}
