{% extends "layouts/default.html" %}

{% block body %}
    <figure id="particles-js" title="particles.js">
        <h2 class="slogan">A simple way to share <b>Common Lisp</b> knowledge</h2>
    </figure>
    <main>
        <div class="specify">
            <div class="tile">
                <div class="container">
                    <img src="/images/icons/network.svg" alt="network icon">
                </div>
                <h3>Everything in one place</h3>
                <p>All <a href="https://common-lisp.net/" target="_blank">Common Lisp</a> documentation <br>is here, with the same appearance. <br><span>You can save a lot of time.</span></p>
            </div><div class="tile">
                <div class="container">
                    <img src="/images/icons/view.svg" alt="eye icon">
                </div>
                <h3>Easy and intuitive</h3>
            <p>No more long confused searching. <br>All you need is a few clicks. <br><a href="#"><span>Browse packages</span></a></p>
            </div><div class="tile">
                <div class="container">
                    <img src="/images/icons/search.svg" alt="search icon">
                </div>
                <h3>Many examples</h3>
            <p>There are plenty of examples <br>to help you understand the problem. <br><span>And you can always <a href="#">add more</a>.</span></p>
            </div><div class="tile">
                <div class="container">
                    <img src="/images/icons/users.svg" alt="users icon">
                </div>
                <h3>All about community</h3>
                <p>Documentation here is written <br>and managed by community. <br><span>You can <a href="#">join and help us</a>.</span></p>
            </div>
        </div>
    </main>
    <script src="/js/particles.js/particles.js"></script>
    <script src="/js/particles.js/app.js"></script>
{% endblock %}
