{% extends "layouts/default.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/styles/about.css">
{% endblock %}

{% block body %}
    <figure id="particles-js" class="banner" title="particles.js">
        <div class="specify">
            <h2 class="slogan">A simple way to share <br>Common Lisp knowledge</h2>
            <h3>Colidocs is a fork of Quickdocs aimed at streamlining the documentation and improving the API references.</h3>
            <img src="/images/example.png" alt="example image" class="image">
            <form method="get" action="/search">
                <label><input type="text" name="q" placeholder="Quick search"></label><input class="submit" type="submit">
            </form>
        </div>
    </figure>
    <main>
        <div class="specify">
            <div class="tile">
                <div class="container">
                    <img src="/images/icons/network.svg" alt="network icon">
                </div>
                <h3>Everything in one place</h3>
                <p>All <a href="https://common-lisp.net/" target="_blank">Common Lisp</a> documentation <br>is here, with the same appearance. <br><span>You can save a lot of time.</span></p>
            </div><div class="tile">
                <div class="container" style="padding: 20px">
                    <img src="/images/icons/view.svg" alt="eye icon">
                </div>
                <h3>Easy and intuitive</h3>
            <p>No more long confused searching. <br>All you need is a few clicks. <br><a href="/categories"><span>Browse packages</span></a></p>
            </div><div class="tile">
                <div class="container">
                    <img src="/images/icons/search.svg" alt="search icon">
                </div>
                <h3>Many examples</h3>
            <p>There are plenty of examples <br>to help you understand the problem. <br><span>And you can always add more.</span></p>
            </div><div class="tile">
                <div class="container">
                    <img src="/images/icons/users.svg" alt="users icon">
                </div>
                <h3>All about community</h3>
                <p>Documentation here is written <br>and managed by community. <br><span>You can <a href="/login">join and help us</a>.</span></p>
            </div>
        </div>
    </main>
    <main>
        <div class="specify" style="text-align: center">
            <a class="github" href="https://github.com/BlueManCZ/quickdocs-server">View source on GitHub</a>
        </div>
    </main>
    {% include "partials/footer.html" %}
    <script src="/js/particles.js/particles.js"></script>
    <script src="/js/particles.js/app.js"></script>
{% endblock %}
