{% extends "layouts/default.html" %}
{% block title %}Search Results | Colidocs{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" media="screen" href="/styles/search.css">
{% endblock %}
{% block body %}
    <div class="banner">
        <div class="specify">
          {% if query == "" %}
          <h2>All {{ projects | length }} Projects</h2>
          {% else %}
          <h2>Search Results <span class="search-query">for query: <b>{{ query }}</b></span></h2>
          <p class="search-results-summary"><strong>{{ projects | length }}</strong> project{% if len > 1 %}s{% endif %} found.</p>
          {% endif %}
        </div>
    </div>

    <div class="content">
        <div class="specify">
            {% if projects %}
            <ul class="search-result-container">
            {% for project in projects %}
              <li class="search-result">
                <h2><a class="project-name" href="/{{ project.name | urlencode }}/">{{ project.name }}</a></h2>
                <span class="ql-version" title="Quicklisp version">{{ project.release-version }}</span>
                <p class="description">{{ project.description }}</p>
                  <p class="api">{{ project.systems }} system{% if project.systems > 1%}s{% endif %} in
                      <a href="/{{ project.name | urlencode }}/api">API reference</a>.
                      {% if project.homepage %} See also the <a href="{{ project.homepage }}" target="_blank">project website</a>.{% endif %}
                    {% if project.categories %}
                      Categories:
                      {% for category in project.categories %}
                      <a href="/search?q={{ category | urlencode }}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
                      {% endfor %}
                    {% endif %}
                  </p>
                <div class="sidebar">
                    <a href="{{ project.archive-url }}" class="button">Download</a>
                    {% if project.download-count %}
                    <div class="download-count">{{ project.download-count }}x</div>
                    {% endif %}
                    <p class="categories"></p>
                </div>
              </li>
            {% endfor %}
            </ul>
            {% else %}
            <div class="no-results">
                <p>We couldn't find any projects that would meet your specifications.</p>
                <p class="smaller">Try edit your searching pattern or use our <a href="#">package browser</a>.</p>
            </div>
            {% endif %}
        </div>
    </div>

{% include "partials/footer.html" %}
{% endblock %}
