{% extends "layouts/default.html" %}
{% block title %}{{ project-name }} | Colidocs{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/styles/api.css">
<link rel="stylesheet" type="text/css" href="/styles/simplemde.min.css">
{% endblock %}
{% block body %}
<script src="/js/simplemde.min.js"></script>

<header class="head">
    <div class="specify" style="overflow: auto">
        <h2 class="project-name"><b>API Reference</b> for project <a class="link" href="/{{ project-name | urlencode }}/">{{ project-name }}</a></h2>

        <table>
            <tr>
                <th>Project</th>
                <th>System</th>
                <th>Package</th>
                <th>Symbol</th>
            </tr>
            <tr>
                <td><a class="link" href="/{{ project-name }}/api">{{ project-name }}</a></td>
                <td><a class="link" href="/{{ project-name }}/api/{{ systems.0.name }}">{{ systems.0.name }}</a></td>
                <td><a class="link" href="/{{ project-name }}/api/{{ systems.0.name }}/{{ systems.0.packages.0.name }}">{{ systems.0.packages.0.name }}</a></td>
                <td>{{ systems.0.packages.0.external-symbols.0.name }}</td>
            </tr>
        </table>
    </div>
</header>

{% for system in systems %}
<article>
    <div class="specify">
        <div class="system">
            <nav class="toc">
                <div class="sticky">
                    <h3>Package Index</h3>
                    <div class="toc-packages">
                    {% for package in system.packages %}
                      <div><a class="link" href="#package-{{ package.name }}" title="{{ package.name }}">{{ package.name }}</a></div>
                    {% endfor %}
                    </div>
                </div>
            </nav>

            <header>
            <div class="bookmark" id="system-{{ system.name }}"></div>
            <h3>System</h3>
            <h1>{{ system.name }}</h1>
            {% if system.description %}
            <p class="description">{{ system.description }}</p>
            {% endif %}
            </header>

            <div class="api">
            {% for package in system.packages %}
              <section class="package">
                <div class="bookmark" id="package-{{ package.name }}"></div>
                <h3>Package</h3>
                <h1><a class="link" href="#package-{{ package.name }}">{{ package.name }}</a></h1>
                {% if package.docstring %}
                <div class="docstring"><pre>{{ package.docstring }}</pre></div>
                {% endif %}
                {% if package.external-symbols %}
                <h3>Symbols in package</h3>
                <ul>
                  {% for symbol in package.external-symbols %}
                  <li class="symbol">
                    <div><span class="symbol-type label {{ symbol.type }}">{{ symbol.type | capfirst }}</span></div>
                    <div class="parent">
                        <code class="symbol-name">{% if symbol.setfp %}(setf {{ symbol.name }}){% else %}{{ symbol.name }}{% endif %}</code>
                        {% if symbol.lambda-list %}
                        <span class="lambda-list">
                          {{ symbol.lambda-list | lambda-list | safe }}
                        </span>
                        {% endif %}
                        {% if symbol.superclasses %}
                        &nbsp;<code>(</code>{% for superclass in symbol.superclasses %}<code class="symbol-name">{{ superclass | symbol }}</code>{% if not forloop.last %}<code>,</code> {% endif %}{% endfor %}<code>)</code>
                        {% endif %}
                        {% if symbol.include-structs %}
                            includes <code>(</code>{% for include in symbol.include-structs %}<code class="symbol-name">{{ include | symbol }}</code>{% if not forloop.last %}<code>,</code> {% endif %}{% endfor %}<code>)</code>
                        {% endif %}
                        {% if symbol.initial-value %}
                        <pre class="initial-value">{{ symbol.initial-value | lower }}</pre>
                        {% endif %}
                        {% if symbol.docstring %}
                        <div class="docstring">{{ symbol.docstring }}</div>
                        {% endif %}
                        {% if symbol.type == "class" or symbol.type == "struct" %}
                        {% if symbol.slots %}
                        <!--<dl class="slot-list">
                          {% for slot in symbol.slots %}
                          <dt>
                            <code class="symbol-name">{{ slot.name | symbol }}</code>
                            {% if slot.accessors %}
                            &nbsp;&nbsp;<span class="label">Accessor</span>:
                            {% for accessor in slot.accessors %}
                            <code class="symbol-name">{{ accessor | symbol }}</code>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% if slot.readers %}
                            &nbsp;&nbsp;<span class="label">Reader</span>:
                            {% for reader in slot.readers %}
                            <code class="symbol-name">{{ reader | symbol }}</code>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% if slot.writers %}
                            &nbsp;&nbsp;<span class="label">Writer</span>:
                            {% for writer in slot.writer %}
                            <code class="symbol-name">{{ writer | symbol }}</code>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            {% endif %}
                          </dt>
                          {% if slot.docstring %}
                          <dd>{{ slot.docstring }}</dd>
                          {% endif %}
                          {% endfor %}
                        </dl>-->
                        <table class="slot-list">
                        {% for slot in symbol.slots %}
                            <tr>
                                <td><code class="symbol-name">{{ slot.name | symbol }}</code></td>
                                {% if slot.accessors %}
                                <td><span class="label">Accessor:</span></td>
                                <td>
                                {% for accessor in slot.accessors %}
                                <code class="symbol-name">{{ accessor | symbol }}</code>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                {% endif %}

                                {% if slot.readers %}
                                <td><span class="label">Reader:</span></td>
                                <td>
                                {% for reader in slot.readers %}
                                <code class="symbol-name">{{ reader | symbol }}</code>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                {% endif %}

                                {% if slot.writers %}
                                <td><span class="label">Writer:</span></td>
                                <td>
                                {% for writer in slot.writers %}
                                <code class="symbol-name">{{ writer | symbol }}</code>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </table>
                        {% else %}
                        <div class="nothing">No slots.</div>
                        {% endif %}
                        {% endif %}
                    </div>
                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <div class="nothing">No exported symbols.</div>
                {% endif %}
                {% if package.reexport-symbols %}
                <h3>Also exports</h3>
                <ul class="also-exports">
                {% for symbol in package.reexport-symbols %}
                  <li><code class="symbol-name">{{ symbol | symbol-with-package }}</code></li>
                {% endfor %}
                </ul>
                {% endif %}
              </section>
            {% endfor %}
            {% if not system.packages %}
              <div class="nothing">No packages.</div>
            {% endif %}
            </div>
        </div>
    </div>
</article>
{% endfor %}
<article>
    <div class="specify">
        <div class="system">
            <nav class="toc">
                <div class="sticky">
                    <h3>Example index</h3>
                    <div class="toc-packages">
                    {% for example in examples %}
                      <div><a class="link" href="#example-{{ example.id }}" title="{{ example.id }}">{{ example.id }}</a></div>
                    {% endfor %}
                    </div>
                </div>
            </nav>

            <header>
            <!--div class="bookmark" id="system-{{ system.name }}"></div-->
            <h3>Examples</h3>
            {% for example in examples %}
                <p>User ID: {{ example.user-id }}</p>
                <div class="example">{{ example.converted | safe }}</div>
            {% endfor %}
            </header>
        </div>
    </div>
</article>
<article>
    <div class="specify">
        <form method="post">
            <textarea id="text" name="text" rows="8" cols="80"></textarea>
            <input type="submit" value="Odeslat">
        </form>
    </div>
</article>

{% include "partials/footer.html" %}

<ul class="breadcrumb-header-container" style="display: none">
  <li><a href="#global-header" class="top-link lsf">home</a></li>
</ul>
<div class="pager-link-container" style="display: none">
  <a class="pager-link lsf-icon" title="up">Prev</a>
  <a class="pager-link lsf-icon" title="down">Next</a>
</div>

<script>
    let symbols = document.getElementsByClassName('symbol');

    function searchSymbol(filter) {
        for (let i = 0; i < symbols.length; i++) {
            let name = symbols[i].childNodes[3].childNodes[1].innerHTML;
            if (name.toUpperCase().indexOf(filter.toUpperCase()) > -1) {
              symbols[i].style.display = "";
            } else {
              symbols[i].style.display = "none";
            }
        }
    }

    function parseAttributes() {
        let items = window.location.search.substring(1).split('&');

        for (let i = 0; i < items.length; i++) {
            let s = items[i].split('=');
            if (s.length === 2 && s[0] === 'find') {
                searchSymbol(s[1]);
            }
        }

        //let re = new RegExp('&'+categories+'(?:=([^&]*))?(?=&|$)','i');
        //return (s=s.replace(/^?/,'&').match(re)) ? (typeof s[1] == 'undefined' ? '' : decodeURIComponent(s[1])) : undefined;
    }

    parseAttributes();

    var simplemde = new SimpleMDE({showIcons: ["code", "table"]});

</script>

{% endblock %}
