{% extends "layouts/default.html" %}
{% block title %}{{ project-name }} | Colidocs{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/styles/api.css">
<link rel="stylesheet" type="text/css" href="/styles/simplemde.min.css">
<link rel="stylesheet" type="text/css" href="/js/code-prettify/skins/desert.css">
{% endblock %}
{% block body %}
<script src="/js/simplemde.min.js"></script>
<script type="text/javascript" src="/js/code-prettify/prettify.js"></script>
<script type="text/javascript" src="/js/code-prettify/lang-lisp.js"></script>

<nav class="left-panel">
    <a href="/{{ project-name | urlencode }}/"><div class="item" title="Show project homepage">
        <div class="parent"><img src="/images/icons/house2.png"></div><span>Homepage</span>
    </div></a>
    <a href="/{{ project-name | urlencode }}/api"><div class="item" title="Show API Reference">
        <div class="parent"><img src="/images/icons/api.png"></div><span>API Reference</span>
    </div></a>
</nav>


<div class="dock">
    <h1>API Reference</h1>
    <div class="collumn">
        <div class="tile">
            <h2>Informations</h2>
            <p>Curently inspected project</p>
            <a class="link" href="/{{ project-name | urlencode }}/"><h1>{{ project-name }}</h1></a>
            <p>Number of systems</p>
            <h1>{{ systems | length }}</h1>
        </div><div class="tile">
            <h2>Details</h2>
            <p>Selected system</p>
            <h1 class="highlight" id="current-system">Unknown</h1>
            <p>System description</p>
            <h4 id="system-description">Unknown</h4>
            <p>Selected package</p>
            <h1 class="highlight" id="current-package">Unknown</h1>
            <p id="package-description-title">Package description</p>
            <h4 id="package-description">Unknown</h4>
        </div>
    </div><div class="content-collumn">
        <div class="tile">
            {% for system in systems %}
            <article>
                <div class="system" id="system-{{ system.name }}">
                    <div id="system-{{ system.name }}-description" style="display: none">{{ system.description }}</div>
                    <div class="api">
                    {% for package in system.packages %}
                      <div id="package-{{ package.name }}-description" style="display: none">{{ package.docstring }}</div>
                      <section class="package" id="package-{{ package.name }}">
                        <script>showSelected("{{ system.name }}", "{{ package.name }}")</script>
                        {% if package.external-symbols %}
                        <h2>Selected symbol</h2>
                        <ul>
                          {% for symbol in package.external-symbols %}
                          <li class="symbol">
                            <div><span class="symbol-type label {{ symbol.type }}">{{ symbol.type | capfirst }}</span></div>
                            <div class="parent">
                                <code class="symbol-name">{% if symbol.setfp %}(setf {{ symbol.name }}){% else %}{{ symbol.name }}{% endif %}</code>
                                {% if symbol.lambda-list %}
                                <span class="lambda-list">
                                  {{ symbol.lambda-list | lambda-list | safe }}
                                </span>
                                {% endif %}
                                {% if symbol.superclasses %}
                                &nbsp;<code>(</code>{% for superclass in symbol.superclasses %}<code class="symbol-name">{{ superclass | symbol }}</code>{% if not forloop.last %}<code>,</code> {% endif %}{% endfor %}<code>)</code>
                                {% endif %}
                                {% if symbol.include-structs %}
                                    includes <code>(</code>{% for include in symbol.include-structs %}<code class="symbol-name">{{ include | symbol }}</code>{% if not forloop.last %}<code>,</code> {% endif %}{% endfor %}<code>)</code>
                                {% endif %}
                                {% if symbol.initial-value %}
                                <pre class="initial-value">{{ symbol.initial-value | lower }}</pre>
                                {% endif %}
                                {% if symbol.docstring %}
                                <div class="docstring-prev">{{ symbol.docstring }}</div>
                                {% endif %}
                                {% if symbol.type == "class" or symbol.type == "struct" %}
                                {% if symbol.slots %}
                                <table class="slot-list">
                                {% for slot in symbol.slots %}
                                    <tr>
                                        <td><code class="symbol-name">{{ slot.name | symbol }}</code></td>
                                        {% if slot.accessors %}
                                        <td><span class="label">Accessor:</span></td>
                                        <td>
                                        {% for accessor in slot.accessors %}
                                        <code class="symbol-name">{{ accessor | symbol }}</code>{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                        {% endif %}

                                        {% if slot.readers %}
                                        <td><span class="label">Reader:</span></td>
                                        <td>
                                        {% for reader in slot.readers %}
                                        <code class="symbol-name">{{ reader | symbol }}</code>{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                        {% endif %}

                                        {% if slot.writers %}
                                        <td><span class="label">Writer:</span></td>
                                        <td>
                                        {% for writer in slot.writers %}
                                        <code class="symbol-name">{{ writer | symbol }}</code>{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                        {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </table>
                                {% else %}
                                <div class="nothing">No slots.</div>
                                {% endif %}
                                {% endif %}
                            </div>
                          </li>
                          {% endfor %}
                        </ul>
                        {% else %}
                        <div class="nothing">No exported symbols.</div>
                        {% endif %}
                      </section>
                    {% endfor %}
                    {% if not system.packages %}
                      <div class="nothing">No packages.</div>
                    {% endif %}
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
            <article>
                <div id="examples" class="system" style="padding-left: 0">
                    {% if not examples %}<div class="note"><div><img src="/images/icons/note2.png"> Note</div>There are currently no user examples. You can create one.</div>{% endif %}
                    {% for example in examples %}
                        <header>
                            <img class="avatar" alt="Avatar image" src="{{ example.avatar-url }}" title="{% if example.user-name %}{{ example.user-name}}{% else %}{{example.login }}{% endif %}">
                            <span class="title"><b>{{ example.login }}</b> created an example. </span>
                            {% if example.user-id == session.id %}<a href="#" class="remove" onclick="document.getElementById('edit-{{ example.id }}').parentElement.style.display = '';document.getElementById('example-{{ example.id }}').style.display = 'none';new SimpleMDE({ element: document.getElementById('edit-{{ example.id }}')});">Edit</a><form class="remove" name="remove" action="/remove-example/{{ example.id }}?next={{ url }}" method="post">
                                <a href="#" onclick="document.remove.submit();">Remove</a>
                            </form>
                            {% endif %}
                        </header>
                        <div class="example" id="example-{{ example.id }}">{{ example.converted | safe }}</div>
                        <form method="post" action="/edit-example/{{ example.id }}?next={{ url }}" style="display: none">
                            <textarea id="edit-{{ example.id }}" name="edit" rows="8" cols="80">{{ example.markdown }}</textarea>
                            <input type="submit" value="Edit">
                            <button onclick="location.reload();return false">Cancel</button>
                        </form>
                    {% endfor %}
                </div>
                <script>
                    let codes = document.getElementById('examples').getElementsByTagName('pre');
                    for (let i = 0; i < codes.length; i++) {
                        if (codes[i].className === 'example') continue;
                        let lang = codes[i].classList.item(1);
                        if (lang === 'commonlisp' || lang === 'common-lisp') {
                            codes[i].classList.replace(lang, 'lisp');
                            lang = 'lisp';
                        } else if (lang === 'glsl') {
                            codes[i].classList.replace(lang, 'c');
                            lang = 'c';
                        }
                        if (lang)
                            codes[i].classList.replace(lang, 'lang-' + lang);
                        else
                            codes[i].classList.add('lang-lisp');
                        codes[i].classList.add('prettyprint');
                    }
                    PR.prettyPrint();
                </script>
            </article>
            <article>
                <div class="system" style="padding-left: 0">
                    {% if not session.login %}
                    <h3 class="small-title">Create example</h3>
                    <form method="post">
                        <textarea id="text" name="text" rows="8" cols="80"></textarea>
                        <input type="submit" value="Send">
                    </form>
                    {% else %}
                    <div class="signin">You must <a class="link" href="/login{% if url %}?next={{ url }}{% endif %}">sign in</a> to create a new example.</div>
                    {% endif %}
                </div>
            </article>
    </div>
</div>

<script>
    new SimpleMDE({showIcons: ["code", "table"], element: document.getElementById("text")});
</script>

{% endblock %}