@font-face {
  font-family: Cantarell;
  font-weight: 200;
  src: url("/fonts/Cantarell-Thin.otf") format("opentype"); }
@font-face {
  font-family: Cantarell;
  font-weight: 300;
  src: url("/fonts/Cantarell-Light.otf") format("opentype"); }
@font-face {
  font-family: Cantarell;
  src: url("/fonts/Cantarell-Regular.otf") format("opentype"); }
@font-face {
  font-family: Cantarell;
  font-weight: bold;
  src: url("/fonts/Cantarell-Bold.otf") format("opentype"); }
@font-face {
  font-family: Cantarell;
  font-weight: 900;
  src: url("/fonts/Cantarell-ExtraBold.otf") format("opentype"); }
.link {
  text-decoration: none;
  color: #408ACA; }
  .link:hover {
    color: #2d5b88;
    text-decoration: underline; }

.darklink {
  text-decoration: none;
  color: #88C8FF; }
  .darklink:hover {
    color: #6294c1;
    text-decoration: underline; }

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important; }

#loader {
  transition: opacity 0.8s cubic-bezier(0.62, 1.71, 1, 1.64), margin-top 0.3s step-start;
  transition-timing-function: cubic-bezier(0.62, 1.71, 1, 1.64), steps(1, start);
  opacity: 1; }

.loading_hidden {
  opacity: 0 !important;
  margin-top: -1000%;
  transition-timing-function: cubic-bezier(0.62, 1.71, 1, 1.64), step-end !important; }
  .loading_hidden img {
    transform: scale(0); }

body {
  font-family: Cantarell, Verdana, sans-serif;
  color: #666; }

h3, nav h3, .system h3 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: #666;
  margin: 0;
  padding: 10px 0 15px; }

.head {
  padding-bottom: 38px;
  background: #fbfbfb;
  border-bottom: 1px solid #e8e7e7; }
  .head h2 {
    font-weight: normal;
    font-size: 20px;
    margin: 30px 0 15px; }
  .head table {
    border-radius: 18px;
    overflow: hidden;
    border-spacing: 3px;
    margin-left: -4px;
    font-size: 15px; }
    .head table td, .head table th {
      text-align: left;
      padding: 4px 7px;
      background: white; }

nav .item {
  color: #666;
  text-decoration: none;
  border: solid 1px;
  padding: 4px 8px;
  border-radius: 3px;
  margin-right: 8px;
  outline: none;
  background: white; }

.system {
  position: relative;
  padding-left: 200px; }
  .system .toc {
    display: inline-block;
    position: absolute;
    left: 0; }
    .system .toc .toc-packages {
      text-decoration: none;
      color: #408ACA;
      font-size: 15px; }
      .system .toc .toc-packages a {
        outline: none; }
  .system .package {
    position: relative; }
  .system h3 {
    padding: 30px 0 15px; }
  .system h1 {
    margin: 0;
    margin-top: -9px; }
  .system .bookmark {
    display: block;
    position: absolute;
    top: -55px; }
  .system .api .package {
    border-top: solid 1px #dfdddd; }
  .system .api ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .system .api ul .symbol {
      margin-bottom: 15px;
      display: flex; }
    .system .api ul .symbol-type {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      padding: 2px 7px;
      border-radius: 4px;
      color: white;
      display: inline-block;
      vertical-align: top;
      min-width: 68px;
      text-align: center;
      margin-bottom: 8px;
      margin-right: 8px;
      white-space: nowrap;
      background: #333; }
    .system .api ul .parent {
      position: relative;
      display: block;
      width: 100%; }
    .system .api ul .macro {
      background: rgba(153, 51, 204, 0.7); }
    .system .api ul .type {
      background: #aaa; }
    .system .api ul .function {
      background: rgba(11, 111, 31, 0.7); }
    .system .api ul .condition, .system .api ul .generic-function {
      background: #333; }
    .system .api ul .method {
      background: rgba(46, 83, 157, 0.7); }
    .system .api ul .variable {
      background: rgba(52, 178, 125, 0.7); }
    .system .api ul .class {
      background: rgba(224, 153, 82, 0.7); }
    .system .api ul code, .system .api ul .lambda-list, .system .api ul .initial-value {
      font-family: Hack, monospace;
      display: inline-block;
      vertical-align: top;
      font-weight: 600;
      margin-bottom: 8px; }
    .system .api ul .lambda-list {
      font-weight: normal;
      margin-top: -1px;
      margin-bottom: 8px;
      color: gray; }
      .system .api ul .lambda-list .keyword {
        color: #df8585;
        font-style: italic; }
      .system .api ul .lambda-list code.symbol-name, .system .api ul .lambda-list .symbol-name.lambda-list, .system .api ul .lambda-list .symbol-name.initial-value {
        font-weight: normal; }
    .system .api ul .initial-value {
      font-weight: normal;
      margin-top: -1px;
      margin-bottom: 8px;
      color: gray; }
    .system .api ul .docstring {
      white-space: pre;
      margin-top: 2px;
      border-left: solid 1px #dfdcdc;
      padding: 7px 10px;
      background: #fbfbfb; }
  .system .api .also-exports {
    margin-bottom: 15px; }
  .system .api .slot-list {
    border-spacing: inherit;
    border: solid 1px #eee;
    padding: 2px 7px;
    border-radius: 4px;
    background: #fdfdfd; }
    .system .api .slot-list td {
      padding: 0; }
    .system .api .slot-list .symbol-name {
      font-weight: normal;
      background: #f2f2f2;
      font-size: 14px;
      padding: 2px 4px;
      border-radius: 3px;
      margin: 4px 0; }
    .system .api .slot-list .label {
      display: block;
      font-size: 14px;
      font-weight: 600;
      margin: 6px 10px 7px; }

.example {
  background: #fbfbfb;
  padding: 1px 11px;
  margin-bottom: 20px; }

/*# sourceMappingURL=api.css.map */
