@font-face {
  font-family: Cantarell;
  font-weight: 200;
  src: url("/fonts/Cantarell-Thin.otf") format("opentype"); }
@font-face {
  font-family: Cantarell;
  font-weight: 300;
  src: url("/fonts/Cantarell-Light.otf") format("opentype"); }
@font-face {
  font-family: Cantarell;
  src: url("/fonts/Cantarell-Regular.otf") format("opentype"); }
@font-face {
  font-family: Cantarell;
  font-weight: bold;
  src: url("/fonts/Cantarell-Bold.otf") format("opentype"); }
@font-face {
  font-family: Cantarell;
  font-weight: 900;
  src: url("/fonts/Cantarell-ExtraBold.otf") format("opentype"); }
@font-face {
  font-family: Cantarell;
  font-weight: 200;
  src: url("/fonts/Cantarell-Thin.otf") format("opentype"); }
@font-face {
  font-family: Hack;
  src: url("/fonts/Hack-Regular.ttf") format("truetype"); }
@font-face {
  font-family: Hack;
  font-weight: bold;
  src: url("/fonts/Hack-Bold.ttf") format("truetype"); }
.link, header h2 a, .readme a, .info a {
  text-decoration: none;
  color: #408ACA; }
  .link:hover, header h2 a:hover, .readme a:hover, .info a:hover {
    color: #2d5b88;
    text-decoration: underline; }

.darklink, header .subtitle a {
  text-decoration: none;
  color: #88C8FF; }
  .darklink:hover, header .subtitle a:hover {
    color: #6294c1;
    text-decoration: underline; }

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important; }

#loader {
  transition: opacity 0.8s cubic-bezier(0.62, 1.71, 1, 1.64), margin-top 0.3s step-start;
  transition-timing-function: cubic-bezier(0.62, 1.71, 1, 1.64), steps(1, start);
  opacity: 1; }

.loading_hidden {
  opacity: 0 !important;
  margin-top: -1000%;
  transition-timing-function: cubic-bezier(0.62, 1.71, 1, 1.64), step-end !important; }
  .loading_hidden img {
    transform: scale(0); }

.note {
  font-size: 16px;
  margin-top: 5px;
  padding: 10px;
  background-color: #e9f8ff;
  border: solid 1px #bce8f1;
  border-radius: 4px;
  color: #057eae; }
  .note div {
    font-size: 17px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold; }
    .note div img {
      width: 18px;
      padding: 0;
      vertical-align: sub; }

.highlight {
  color: #df8585; }

body {
  font-family: Cantarell, Verdana, sans-serif; }

header {
  font-family: Cantarell, Verdana, sans-serif;
  background-color: #333;
  color: white;
  padding: 30px 0; }
  header h2 {
    margin: 0;
    display: inline-block;
    font-size: 25px;
    font-weight: normal; }
    header h2 a {
      color: #ffa0a0;
      font-weight: bold; }
      header h2 a:hover {
        color: #df8585; }
  header .subtitle {
    margin: 11px 0 0;
    font-size: 16px; }
  header #reading-time {
    margin-left: 10px; }

.readme, .info {
  font-family: Cantarell, Verdana, sans-serif;
  color: #666;
  padding-top: 20px; }
  .readme .raw, .info .raw {
    font-family: Hack, monospace;
    background-color: #f7f7f7;
    padding: 14px; }
  .readme figure, .info figure {
    margin: 20px 0; }
  .readme hr, .info hr {
    border: 0;
    border-top: 1px solid; }
  .readme p, .info p {
    margin: 10px 0; }
  .readme h1, .info h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 15px 0 10px; }
  .readme h2, .info h2 {
    font-size: 22px;
    margin: 30px 0 10px; }
  .readme ul li, .info ul li {
    margin: 8px 0; }
  .readme code, .info code {
    font-family: Cantarell, Verdana, sans-serif;
    background: #f0f0f0;
    padding: 1px 4px;
    font-size: 87%;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    display: inline-block; }
  .readme pre, .info pre {
    border-radius: 5px;
    overflow-x: auto;
    box-shadow: 0 0 2px #a6a6a6;
    border: none; }
    .readme pre code, .info pre code {
      display: block;
      padding: 7px 8px 6px;
      line-height: 1.3;
      text-transform: none;
      font-family: monospace;
      color: silver;
      font-size: 15px;
      font-weight: normal;
      background: #333; }
  .readme table, .info table {
    border-radius: 5px;
    overflow: hidden;
    border-collapse: collapse;
    box-shadow: 0 0 0 1px #f0f0f0; }
    .readme table thead, .info table thead {
      background: #f0f0f0;
      line-height: 25px; }
    .readme table td, .info table td {
      padding: 4px 8px; }
    .readme table tr:nth-child(2n), .info table tr:nth-child(2n) {
      background-color: #fbfbfb; }
  .readme img, .info img {
    max-width: 100%;
    padding: 20px 0; }

.info {
  padding-top: 0; }
  .info table {
    box-shadow: none;
    font-size: 15px;
    margin-left: 30px; }
    .info table tr {
      background-color: transparent !important; }
    .info table td:nth-child(1) {
      text-align: right; }

/*# sourceMappingURL=project.css.map */
